node_modules/
data.json
*.tmp
.DS_Store
heita_full.html
heta_full.html
.workbuddy/
_imgconv/gh-token-copy.txt
_imgconv/keys.json
_imgconv/*.txt
_imgconv/sdo-cookie.txt
_imgconv/jsonbin-master-key.txt
